.content {
  display: flex;
  align-items: center;
}
.card {
  width: 480px;
}
.head-box {
  text-align: center;
}
.head {
  font-weight: bold;
}
.capit {
  font-weight: bold;
}
.popul {
  font-weight: bold;
}
.lang {
  font-weight: bold;
}
.textSpa {
  font-weight: normal;
}
img {
  margin-left: 15px;
}
.list {
  padding-left: 20px;
}
